/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* BlockOffice */
/* Genereic CSS */
.centered_horizantal {
  width: 8.8%;
  margin: 0 auto;
}


/* Header CSS settings start */
header {
  min-height: 102px;
  background-color: #ffffff;
  background-color: var(--white);
  box-shadow: 0 1px 0 0 #ebebeb;
}

header a{
  text-decoration: none;
  font-family: WorkSans;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6d6f7b;
}

nav {
  margin-top: 33px;
}

header img {
  float: left;
  margin-top: 17px;
}
header ul {
  float: right;
}

header li {
  display: inline;
  padding: 0 8px 0 8px;
}

nav a {
  display: inline;
}

header button {
  display: inline;
  border-radius: 5px;
  width: 132px;
  height: 36px;
  font-family: WorkSans;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6d6f7b;
}

/* Header CSS ends */

/*------------------------------*/
/* Section 1*/
#hero {
  margin-top:100px;
}

#coin_image {
  width: 657px;
  height: 475px;
  float: left;
  display: inline;
}

.blox_content{
  float:right;
  display: inline;
  margin-right: 40px;
}

.title_caption {
  margin-top: 16px;
}

.title_caption span {
  width: 410px;
  height: 50px;
  font-family: WorkSans-Regular;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5b5e6d;
}

.form_input {
  margin-top :37px;
}

.input_sm {
  width: 300px;
  height: 25px;
  font-family: WorkSans;
  color: #bf343e;
}

.whitelist_btn{
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 172px
  height: 25px
  font-family: WorkSans;
  color: #bf343e;
  border-color: #bf343e;
}
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

/*------------------------*/
/* Section 2*/
#prod_info{
  margin-top:145px;
  min-height: 475px;
  background-color: #bf343e;
  box-shadow: 0 -1px 0 0 #ebebeb;
}

.prod_wrapper{
}
.prod_container_left{
  width:49.59%;
  float: left;
  min-height: 235.5px;
  border-right: 1px solid #8f232b;
  border-bottom: 2px solid #8f232b;
}

.prod_container_right{
  width:50%;
  float: right;
  min-height: 235.5px;
  border-left: 1px solid #8f232b;
  border-bottom: 2px solid #8f232b;
}

#prod_img{
  width: 80px;
   height: 80px;
   object-fit: contain;
   float: left;
   display: inline;
}

.prod_content{
}

.prod_box {
  padding-left: 9.5%;
  padding-right: 9.5%;
  padding-top: 10.6%
}

.prod_content_title {
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
  font-family: WorkSans-Medium;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffd00b;
}

.prod_content_desc {
  display: inline-block;
  margin-left: 10px;
  margin-top: 3px;
  font-family: WorkSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}


/*------------------------*/
/* Section 3*/

#tokenomics {
  margin-top: 100px;
}

#tokenomics img{
  display: inline;
}

#tokenomics h2 {
  display: inline;
}

#token_distribution {
  display: inline;
}

/*--------------------------*/
#roadmap{
  margin-top: 70px;
}

.roadmap_container{
  margin-top: 30px;
  display: inline-block;
}

.rm_element {
  width: 100px;
  display: inline-block;
  margin-left: 70px;
}
.rm_text {
 width: 200px;
 height: 16px;
font-family: WorkSans;
font-size: 14px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #212121;
}
.rm_circle {
  width:30px;
  height:30px;
  margin-left:80px;
}

.rm_line {
  width: 210px;
  height: 2px;
  display: inline;
  background-color: #ffc80a;
  border-bottom: 1px solid #ffc80a;
}

/*------------------------*/
/* Section 4*/

#team {
  margin-top: 50px;
}

.tc_container{
  width: 85%;
  margin: auto;
  overflow: hidden;
}
.team_container {
  margin-top: 30px;
  margin-left: 50px;
  display: inline-block;
}

.profile_image {
  width: 300px;
  height: 320px;
  padding-right: 10px;
  padding-left: 10px;
  margin: auto;
  object-fit: contain;
}

.profile_name {
  font-family: WorkSans;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #212121;
}

.profile_title {
  font-family: WorkSans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.9px;
  text-align: center;
  color: #9fa3a7;
}

.profile_description {
font-family: WorkSans-Medium;
 font-size: 14px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.79;
 letter-spacing: normal;
 text-align: center;
 color: #6d6f7b;
}

.team_card {
    display: inherit;
}

/*-------------------*/
/* Footer css */
#footer{
  margin-top: 71px;
}

.bottom_line{
  min-height: 16px;
  background-color: #bf343e;
}

/* Footer image css */
footer img {
  float: left;
  margin-top: 17px;
}
footer ul {
  float: right;
  text-decoration:none;
  margin-right: 27.7%
}

footer li {
  display: inline;
  text-decoration:none;
  padding: 0 8px 0 8px;
}

footer a {
  display: inline;
  text-decoration:none;
}

.fills {
  float:right;
  display: inline;
  margin-top: 15px;
  margin-right: 10px;
  width: 19.2px
  height: 15.4px
}

.footer_logo{
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

@font-face {
  font-family: 'WorkSans-Medium';
  src: URL('css/fonts/WorkSans-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: URL('css/fonts/WorkSans-Regular.ttf') format('ttf');
}
