@font-face {
  font-family: 'WorkSansLight';
  src: url('WorkSans-Light.eot');
  src: url('WorkSans-Light.woff2') format('woff2'),
       url('WorkSans-Light.woff') format('woff'),
       url('WorkSans-Light.ttf') format('truetype'),
       url('WorkSans-Light.svg#WorkSans-Light') format('svg'),
       url('WorkSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

