.usrCls{
  padding-bottom: 4%;
  padding-top: 3%;
}
.usrDivCls-{
  padding-bottom: 2%;
}

.podCls{
  padding-right: 10px;
}
.btn_bg {
  width: 78px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #bf343e;
}
.space{
  width: 10px;
}

.upload {
  width: 57px;
  height: 18px;
  font-family: WorkSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #bf343e;
}
.usrTxtCls- {
  //width: 89px;
  //height: 16px;
  font-family: WorkSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9b9b9b;
}

.usrTxtCls- .text-style-1 {
  color: #f2596c;
}

.Bitmap {
  width: 176px;
  height: 172px;
}

.Rectangle-input-box {
  width: 240px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  background-color: var(--white);
  border: solid 1px #e0eaf4;
}

.Rectangle-address {
  width: 240px;
  height: 96px;
  border-radius: 3px;
  background-color: #ffffff;
  background-color: var(--white);
  border: solid 1px #e0eaf4;
}

.btn_bg_sbmt{
  width: 78px;
  height: 40px;
  border-radius: 4px;
}
.hdrSpace{
    padding-top: 2%;
}
.thTable{
  padding-top: 2%;
  padding-bottom: 2%;
}
.lgpStyle{
  background-color: #fcfbfc;
  padding-left: 15%;
  padding-right: 15%;
  overflow: hidden;
}
.dataCls{
  display: block;
  //width: 891px;
  //height: 50px;
  padding: 5px;
  border-radius: 4px;
  background-color: #ffffff;
  background-color: var(--white);
  border-style: solid;
  border-color: #fcfbfc;
}
.transHst{
  padding-left: 20%;
}
.hdr{
  display: -webkit-box;
}
.dataHdrCls{
  display: block;
  padding: 5px;
}
.bglft {
  width: 410px;
  height: 141px;
  border-radius: 4px;
  background-color: #ffffff;
  background-color: var(--white);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06);
}

.bg1{
  padding: 7%;
}

.bg2{
  padding: 4%;
}
.BBTC {
  width: 47px;
  height: 21px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #27272e;
  padding-right: 5px;
}

.layer1 {
  width: 54px;
  height: 38px;
  font-family: WorkSans;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e2927;
}

.USD {
  width: 38px;
  height: 21px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6e757d;
}

.layer {
  width: 31px;
  height: 21px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #27272e;
}

.ETH {
  width: 36px;
  height: 21px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6e757d;
}

.layer {
  width: 49px;
  height: 21px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #27272e;
}

.bgrt {
  width: 448px;
  height: 141px;
  border-radius: 4px;
  background-color: #ffffff;
  background-color: var(--white);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06);
  padding: 40px;
}

.To-purchase-BBTC-tra {
  width: 248px;
  height: 16px;
  font-family: WorkSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6e757d;
}

.x345a465c753d764b56 {
  width: 401px;
  height: 21px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #27272e;
  word-break: break-word;
}
