@font-face {
  font-family: 'WorkSansExtraBold';
  src: url('WorkSans-ExtraBold.eot');
  src: url('WorkSans-ExtraBold.woff2') format('woff2'),
       url('WorkSans-ExtraBold.woff') format('woff'),
       url('WorkSans-ExtraBold.ttf') format('truetype'),
       url('WorkSans-ExtraBold.svg#WorkSans-ExtraBold') format('svg'),
       url('WorkSans-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

