.pageContainer {
  min-height: 100vh;
  background-color: #FFFFFF;
}

.content {
  max-width: 1020px;
  margin: 0 auto;
  padding: 96px 32px;
}

.footer-bg {
  width: 100%;
  height: 16px;
  background-color: #bf343e;
}
