
.floatImg{
  animation-name: floatImg;
  animation-duration: 5s;
  animation-iteration-count: 3;
}

@keyframes floatImg {
  to{transform: translateX(-200px)}
  from{transform: translateX(1000px)}

}

@keyframes floatImg {
  from{transform: translateX(-200px)}
  to{transform: translateX(1000px)}

}

.zoom {
    //padding: 5px;
    //background-color: green;
    transition: transform .5s; /* Animation */
    //width: 20px;
    //height: 20px;
    //margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1);
    animation: bounce 2s;
}

.zoom1 {
    //padding: 5px;
    //background-color: green;
    transition: transform .5s; /* Animation */
    //width: 20px;
    //height: 20px;
    //margin: 0 auto;
}

.zoom1:hover {
    animation: bounce 2s;
}

.tooltip  .tooltip1 .tooltip2 {
    position: relative;
    display: inline-block;
    //border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    //width: 120px;
    //background-color: black;
    //color: #ffffff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    //position: absolute;
    z-index: 1;
    //animation: bounce 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}

	80% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
}

.titleBlockRt {
    //background: red;
    position :relative;
    -webkit-animation: mymoveRight 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymoveRight 5s infinite;
}

@-webkit-keyframes mymoveRight {
    from {left: 0px;}
    to {right: 200px;}
}

/* Standard syntax */
@keyframes mymoveRight {
    from {left: 0px;}
    to {right: 200px;}
}

.titleBlocklft {
    //background: red;
    position :relative;
    -webkit-animation: mymoveLeft 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymoveLeft 5s infinite;
}

@-webkit-keyframes mymoveLeft {
    from {right: 0px;}
    to {left: 200px;}
}

/* Standard syntax */
@keyframes mymoveLeft {
    from {right: 0px;}
    to {left: 200px;}
}

.business-plan {
  padding-top: 50px;
  padding-bottom: 90px;
  background-color: #f7fcfc;

  .container {
    width: 81%;
    margin: auto;

    .plan-title {
      width: 370px;
      height: 95px;
      line-height: 95px;
      margin: 0 auto;
      font-size: 22px;
      color: #2e3035;
      font-family: WorkSansMedium, sans-serif;
      text-align: center;
      border-radius: 5px;
      box-shadow: 0 20px 40px 0 rgba(231, 244, 246, 0.9);
      background-color: #ffffff;
      border: solid 1px #deecec;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        width: 30px;
        height: 30px;
        background-color: #dfdfdf;
        border: solid 4px #ffffff;
        bottom: -15px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        border-radius: 50%;
      }
    }

    .plan-circles {
      width: 52px;
      height: 48px;
      padding-top: 8px;
      padding-left: 4px;
      margin: 120px auto;
      border-radius: 50%;
      position: relative;
      border: solid 1px #deecec;
    }

    .plan-circles:before {
      position: absolute;
      content: '';
      width: 1px;
      height: 106px;
      border: 1.5px solid #e4eded;
      top: -108px;
      left: 27px;
    }

    .user-groups:hover {
      border: solid 2px #ffd607;
    }
    .user-groups {
      box-shadow: 0 10px 40px 0 rgba(211, 228, 230, 0.9);
      background-color: #f7fcfc;
      //border: solid 2px #ffd607;
      border: solid 2px #ffffff;
      position: relative;
    }

    .user-groups:before {
      position: absolute;
      content: '';
      width: 1px;
      height: 106px;
      border: 1.5px solid #ffffff;
      top: -108px;
      left: 27px;
    }
    .plan-details {
      position: absolute;
      top: -35px;
      left: 100px;
      width: 360px;
      padding: 30px;
      padding-bottom: 20px;
      border-radius: 5px;
      background-color: #ffd00b;
      box-shadow: 0 20px 40px 0 rgba(231, 244, 246, 0.9);
    }

    .plan-details-vp {
      position: absolute;
      top: -35px;
      right: 100px;
      width: 360px;
      padding: 30px;
      padding-bottom: 20px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 20px 40px 0 rgba(231, 244, 246, 0.9);
    }

    .plan-details-mcp {
      position: absolute;
      top: -35px;
      left: 100px;
      width: 360px;
      padding: 30px;
      padding-bottom: 20px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 20px 40px 0 rgba(231, 244, 246, 0.9);
    }

    .plan-details-mcp:before {
      position: absolute;
      top: -35px;
      left: 100px;
      width: 360px;
      padding: 30px;
      padding-bottom: 20px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 20px 40px 0 rgba(231, 244, 246, 0.9);
    }

    .plan-details-mcp:after {
      position: absolute;
      top: -35px;
      left: 100px;
      width: 360px;
      padding: 30px;
      padding-bottom: 20px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 20px 40px 0 rgba(231, 244, 246, 0.9);
    }

    .plan-details:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      top: 48px;
      left: -12px;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 12px solid #ffd00b;
    }

    .plan-name {
      color: #2e3035;
      font-size: 22px;
      font-family: WorkSansMedium, sans-serif;
    }

    .details {
      color: #546066;
      font-size: 15px;
      margin-bottom: 0;
    }

    .plan-circles img {
      width: 48px;
    }

    .video-playlist .plan-details {
      left: auto;
      right: 100px;
      //background-color: #ffd00b;
      //border: solid 1px #deecec;
      box-shadow: 0 20px 40px 0 rgba(231, 244, 246, 0.9);
    }

    .video-playlist .plan-details:before {
      left: auto;
      right: -12px;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 12px solid #ffffff;
      border-right: 0;
    }

    .video-playlist {
      padding-top: 0;
      padding-left: 10px;
      display: grid;
      align-items: center;
      height: 60px;
      width: 55px;
      box-shadow: 0 10px 40px 0 rgba(211, 228, 230, 0.9);
      background-color: #f7fcfc;
      //border: solid 2px #ffd607;
      border: solid 2px #ffffff;
      position: relative;
    }
    .video-playlist img, .movie-ticket img {
      width: 45px;
      color: #ffd00b;

    }

    .video-playlist:hover {
      border: solid 2px #ffd607;
    }

    .movie-ticket:hover {
      border: solid 2px #ffd607;
    }

    .movie-ticket {
      padding-top: 0;
      padding-left: 10px;
      display: grid;
      align-items: center;
      height: 60px;
      width: 55px;
      box-shadow: 0 10px 40px 0 rgba(211, 228, 230, 0.9);
      background-color: #f7fcfc;
      //border: solid 2px #ffd607;
      border: solid 2px #ffffff;
      position: relative;
    }
    .refund img {
      width: auto;
      height: 25px;
    }
    .refund {
      padding-top: 0;
      padding-left: 18px;
      display: grid;
      align-items: center;
      height: 58px;
      width: 42px;
    }

    .plan-details {
      position: absolute;
      top: -35px;
      left: 100px;
      width: 360px;
      padding: 30px;
      padding-bottom: 20px;
      border-radius: 5px;
      //background-color: #ffd00b;
      box-shadow: 0 20px 40px 0 rgba(231, 244, 246, 0.9);
    }

    .plan-details-2 {
      position: absolute;
      top: -35px;
      right: 100px;
      width: 360px;
      padding: 30px;
      padding-bottom: 20px;
      border-radius: 5px;
      background-color: #ffd00b;
      box-shadow: 0 20px 40px 0 rgba(231, 244, 246, 0.9);
    }
    .plan-details:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      top: 48px;
      left: -12px;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 12px solid #ffd00b;
    }
    .plan-name {
      color: #2e3035;
      font-size: 22px;
      font-family: WorkSansMedium, sans-serif;
    }
    .details {
      color: #546066;
      font-size: 15px;
      margin-bottom: 0;
    }
    .video-playlist .plan-details {
      left: auto;
      right: 100px;
      //background-color: #ffffff;
      //border: solid 1px #deecec;
      box-shadow: 0 20px 40px 0 rgba(231, 244, 246, 0.9);
    }
    .video-playlist .plan-details:before {
      left: auto;
      right: -12px;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 12px solid #ffffff;
      border-right: 0;
    }
    .movie-ticket .plan-details {
      //background-color: #ffffff;
      //border: solid 1px #deecec;
      box-shadow: 0 20px 40px 0 rgba(231, 244, 246, 0.9);
    }
    .movie-ticket .plan-details:before {
      border-right: 12px solid #ffffff;
    }

    .property-platform {
      width: 825px;
      margin: 0 auto;
      border-radius: 5px;
      background-color: #ffffff;
      border: solid 1px #deecec;
      box-shadow: 0 20px 40px 0 rgba(231, 244, 246, 0.9);
    }
    .platform {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 43px;
    }
    .platform img {
      width: 60px;
    }
    .platform-detail {
      padding-left: 30px;
      padding-right: 100px;
    }
    .platform-detail h3 {
      font-size: 20px;
      color: #2e3035;
      font-family: WorkSansMedium, sans-serif;
    }
    .platform-detail p {
      color: #546066;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .business-plan {
    .container {
      .business-plan {
        padding-top: 50px;
        padding-bottom: 90px;
      }
      .property-platform {
        width: 100%;
      }
    }
  }

  .hidden-xs {
    display: none!important;
  }
}

@media (max-width:767px) {
  .business-plan {
    .container {
      .plan-title {
        width: 100%;
      }
      .property-platform {
        width: 100%;
      }
      .platform {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
      }
      .platform .img-responsive {
        display: inline-block;
      }
      .platform-detail {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .hidden-xs {
    display: none!important;
  }
}
