.hdrSpace{
    padding-top: 2%;
}
.thTable{
  padding-top: 2%;
  padding-bottom: 2%;
}
.dbStyle{
  background-color: #fcfbfc;
  padding-left: 12%;
  padding-right: 12%;
  overflow: hidden;
}
.dataCls{
  display: block;
  //width: 891px;
  //height: 50px;
  padding: 5px;
  border-radius: 4px;
  background-color: #ffffff;
  background-color: var(--white);
  border-style: solid;
  border-color: #fcfbfc;
}
.transHst{
  padding-left: 20%;
}
.hdr{
  display: -webkit-box;
}
.dataHdrCls{
  display: block;
  padding: 5px;
}
.bglft {
  width: 410px;
  height: 141px;
  border-radius: 4px;
  background-color: #ffffff;
  background-color: var(--white);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06);
}

.bg1{
  padding: 7%;
}

.bg2{
  padding: 4%;
}
.BBTC {
  width: 47px;
  height: 21px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #27272e;
  padding-right: 5px;
}

.layer1 {
  width: 54px;
  height: 38px;
  font-family: WorkSans;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e2927;
}

.USD {
  width: 38px;
  height: 21px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6e757d;
}

.layer {
  width: 31px;
  height: 21px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #27272e;
}

.ETH {
  width: 36px;
  height: 21px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6e757d;
}

.layer {
  width: 49px;
  height: 21px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #27272e;
}

.bgrt {
  width: 448px;
  height: 141px;
  border-radius: 4px;
  background-color: #ffffff;
  background-color: var(--white);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.06);
  padding: 40px;
}

.To-purchase-BBTC-tra {
  width: 248px;
  height: 16px;
  font-family: WorkSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6e757d;
}

.x345a465c753d764b56 {
  width: 401px;
  height: 21px;
  font-family: WorkSans;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #27272e;
  word-break: break-word;
}
